@import "tailwindcss";

@import "leaflet/dist/leaflet.css";

:root {
  --background: #f3f4f6;
  --foreground: #111827;

  --primary: #16a34a;
  --primary-soft: #bbf7d0;
  --accent: #facc15;
  --muted: #6b7280;
  --border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-soft: var(--primary-soft);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-lg: 1rem;
  --radius-full: 9999px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-background);
    --foreground: var(--color-foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans, Arial, Helvetica, sans-serif);
}
